@model IEnumerable<WebAppEC.Models.Produto>

@{
    ViewBag.Title = string.IsNullOrEmpty(ViewBag.Mensagem) ? 
        "Todos os produtos" : ViewBag.Mensagem;
}

<section id="category-products">
    <div class="wrap">
        <h2 class="title-page">@ViewBag.Title</h2>

        @if (Model.Count() > 0)
        {

            <ul class="products">
                @foreach (var item in Model)
                {
                    <li class="product">
                        
                        @{
                            string imgProduct = string.Empty, nameProduct = string.Empty;
                            string price = Convert.ToDecimal(item.precProduto - (decimal)item.descontoPromocao).ToString("#,##.00");

                            if (item.imagem != null)
                            {
                                string base64String = Convert.ToBase64String(item.imagem);
                                imgProduct = "data:image/png;base64," + base64String;
                                nameProduct = @item.nomeProduto;
                            }
                            else
                            {
                                imgProduct = "/img/default_product.png";
                                nameProduct = "Não foi possível encontrar a imagem do produto.";
                            }

                    
                        }
                        <a id="product-@item.idProduto" href="~/produto/detalhe/@item.idProduto" data-product-id="@item.idProduto" data-product-name="@item.nomeProduto" data-product-price="@price">
                            <img src=@imgProduct id="product-image-@item.idProduto" class="product-image" alt="@nameProduct" title="@nameProduct" />
                            <div class="product-info">
                                <h2 class="product-name">@item.nomeProduto</h2>
                                <span class="product-price">R$ @price</span>
                            </div>
                        </a>
                        <button type="button" class="add-cart" data-product-id="@item.idProduto" data-product-name="@item.nomeProduto" data-product-price="@price"><i class="icon icon-basket"></i></button>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <strong>Ops!</strong> Não encontramos nenhum produto ;(
            </div>
        }
    </div>
</section>