@model IEnumerable<WebAppEC.Models.Produto>

@{
    ViewBag.Title = string.IsNullOrEmpty(ViewBag.Mensagem) ? 
        "Todos os produtos" : ViewBag.Mensagem;
}

<section id="category-products">
    <div class="wrap">
        <h2 class="title-page">@ViewBag.Title</h2>

        @if (Model.Count() > 0)
        {

        <div class="products">
            @foreach (var item in Model)
            {
               
            <div class="product col-lg-3 col-md-4 col-sm-6 col-xs-12">

                @{
        string imgProduct = string.Empty, nameProduct = string.Empty;
        string price = Convert.ToDecimal(item.precProduto - (decimal)item.descontoPromocao).ToString("#,##.00");

        if (item.imagem != null)
        {
            string base64String = Convert.ToBase64String(item.imagem);
            imgProduct = "data:image/png;base64," + base64String;
            nameProduct = @item.nomeProduto;
        }
        else
        {
            imgProduct = "/img/default_product.png";
            nameProduct = "Não foi possível encontrar a imagem do produto.";
        }


                }
                <a id="product-@item.idProduto" href="~/produto/detalhe/@item.idProduto" data-product-id="@item.idProduto" data-product-name="@item.nomeProduto" data-product-price="@price">
                    <img src=@imgProduct id="product-image-@item.idProduto" class="product-image" alt="@nameProduct" title="@nameProduct" />
                    <hr />
                    <div class="product-info">
                        @{
                string strNomeProduto = item.nomeProduto;
                if (strNomeProduto.Length > 30)
                {
                    strNomeProduto = strNomeProduto.Substring(0, 25) + "...";
                }
                        }
                        <h2 class="product-name">@strNomeProduto</h2>
                        <hr />
                        @{
                string strDescricao = item.descProduto;
                if (strDescricao.Length > 100)
                {
                    strDescricao = strDescricao.Substring(0, 100) + "...";
                }
                        }
                        <p class="produto-descricao">@strDescricao</p>
                    </div>
                </a>

                <button type="button" class="add-cart" data-product-id="@item.idProduto" data-product-name="@item.nomeProduto" data-product-price="@price"><i class="icon icon-basket"></i></button>


                @if (item.descontoPromocao != 0)
                {
                    <span class="product-price">De R$@item.precProduto.ToString("#,##.00") por <span>R$@price </span></span>
                }

                @if (item.descontoPromocao == 0)
                {
                    <span class="product-price"><span>R$@price </span></span>
                }
            </div>
                }
        </div>
                            }
        else
        {
            <div class="alert alert-danger" role="alert">
                Desculpe, nenhum produto foi encontrado nesta categoria.
            </div>
        }
    </div>
</section>